
<div class="row"  style="background:#66ff66;border-radius:10px;width:30%;margin:5%0%0%2%;opacity:0.85">
  <div class="col-xs-12"  style="background:#66ff66;border-radius:10px;width:90%;margin:0%0%0%0%;opacity:0.85">
    <div class="box box-primary"  style="background:#66ff66;border-radius:10px;width:100%;margin:0%0%0%5%;opacity:0.85">
      <div class="box-header">
        <h3 class="box-title" style="font-size:28px;opacity:1">Make Investment</h3>
      </div>
      <table style="width:100%">
        <tr>
          <td>
            <div style="padding:5px"><SPAN style="align:center"> Product Type  : &nbsp;&nbsp;&nbsp;</SPAN>
            </td>
            <td>




              <div class="form-group">
                <label>Select</label>
                <select class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                  <option>option 5</option>
                </select>
              </div>




              <br>
            </td>
          </tr>
          <tr>
            <td>
              <p style="align:center" >&nbsp;&nbsp;Quantity:&nbsp;&nbsp;&nbsp;  
              </td>
              <td>
                <input id="id1" type="text" max="100"></p>
              </td>
            </tr>
          </table>            
          <!-- /.box-header -->

        </div>
      </div>
      &nbsp;&nbsp;<div align="center">
      <button type="button">submit</button><br><br>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
<!-- /.col -->
</div>

<div class="col-md-6">
  <div id="productLaunched" style="background:#66ff66;border-radius:10px;width:100%;margin:-31%0%0%80%;opacity:0.85">
    <div class="box-header with-border">
      <h3 class="box-title"> Invested Products</h3>
    </div>
  </div>
</div>
