  <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1"  href="./home_investor.html">Energy</a>
        </li>
        <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1"  href="./funding_list.html">Funding Portal</a>
        </li>
        <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1"  href="./bazar_investor.html">Bazar</a>
        </li>
        <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1"  href="./Investor_Stats.html">Investor stats</a>
        </li>