<!DOCTYPE html>
<title>
  Investment portal
</title>
<html lang="en">

<head>
  <style type="text/css">
    a{

    }
  </style>
  <script>
    function insertTable(cellData,divID){

      var start=0;
      var tableContainer=document.getElementById(divID);
      var table1= document.createElement('table');
      table1.className="table table-bordered";
      var tableHeight=cellData.length-start,tableWidth=cellData[start+1].length;

      for(var i=start;i<tableHeight;i++){
        var current_row=table1.insertRow();
        if(i==start)current_row.style="background:black;color:white";
        for(var j=0; j<tableWidth;j++){
          var current_col=current_row.insertCell();
          current_col.innerHTML='<strong>'+cellData[i%tableHeight][j%tableWidth]+'</strong>';
        }
      }
      tableContainer.appendChild(table1);
    }

  </script>

  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Simple Tables</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">    
  <!-- Theme style -->
  <link rel="stylesheet" href="./dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
  folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="./dist/css/skins/_all-skins.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="./javas.js"></script>
  </head>
  <body background="god1.jpg" style="background-repeat:no-repeat;background-size:140%" >
    <span class="info-box-icon bg-aqua" style="opacity:0.85"><div><i class="fa fa-fw fa-user"></i></div></span>
    <header class="main-header" style="background:#3399ff;width:93.9%;margin-left:6.1%;opacity:0.85">
      <nav class="navbar navbar-static-top">
       <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1" href="./home_god.html">Energy</a>
        </li>
        <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1" href="./product_Creator.html">product Creator</a>
        </li>
        <li>
          <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1" href="./investment_portal.html">Investment Portal</a>
        </li>
        <li>
          <li>
            <a class="headLink" style="font-size:28px;color:#994d00;color:black;opacity:1" href="./god_stats.html">God Stats</a>
          </li>
        </ul>
      </nav>
    </header>

    <script type="text/javascript">
    </script>

    <div id="invest" style="width:90%;background:#3399ff;margin:0%-20%3%2%;border-radius:10px">
      <div class="box-header with-border" style="margin:5%50%0%5%">
        <h3 class="box-title">Investment Bar</h3>
      </div>
      <!-- /.box-header -->
      <script type="text/javascript">
        function makeProgDiv(id){
          var but='<div id="'+id+'"class="container-fluid">  </div>';
          return but;

        }
        var Colors=["aqua","red","green","yellow","blue"];
//Change The following-
var InvestorNames=["Mr.A","Mr.B","Mr.C","Mr.D","Mr.E","Mr.B","Mr.C","Mr.D","Mr.E","Mr.B","Mr.C","Mr.D","Mr.E"];//progress bar entries
var Percentages=[20,3,6,7,8,8,8,5,9,4,5,] //Length of InvestorNames = Percentages
var Info="Funding Details Here..."
        var cellData1=[
        ['#'  ,'product' ,'investment'  ,'shares' ,'profit' ,'expiery'],
        ['#'  ,'product' ,makeProgress(InvestorNames,Percentages,1,"err",Info)  ,'shares' ,'profit' ,'expiery '],
        ['#'  ,'product' ,makeProgress(InvestorNames,Percentages,1,"err2",Info)  ,'shares' ,'profit' ,'expiery '],
        ['#'  ,'product' ,makeProgress(InvestorNames,Percentages,1,"err3",Info)  ,'shares' ,'profit' ,'expiery '],
        ] ;

        insertTable(cellData1,"invest",1);

function makeProgress(InvestorNames,Percentages,product_id,id,Info){
var progressDiv='<div id="'+id+'"class="container-fluid">';//document.getElementById(id);

var len=InvestorNames.length;
var progressGroup='<div class="progress lg">';
for(var i=0;i<len;i++){
  progressGroup+='<div class="progress-bar progress-bar-'+
  Colors[i%Colors.length]+
  '" style="width: '+Percentages[i]+'%">'+
  '<div class="progress-label">'+
  '<span class="badge bg-yellow" style="font-size:10px">'+InvestorNames[i]+' </span> '+
  Percentages[i]+'% </div></div>';
}
progressGroup+='</div>';


var Q=document.createElement('div');
Q.innerHTML='<div class="row">'+
progressGroup+
'</div>'+
'</div>';

return progressDiv+ '<div class="row">'+
progressGroup+
'</div>'+
'</div>'+
'</div>';//appendChild(Q);
}



</script>
</body>
</html>